<div class="wrapper">

    <!-- Sidebar -->
    <%= render "dashboards/sidebar" %>

    <!-- Page Content -->
    <div id="content" class="dashboard-content">
      <div>

      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
            <span>Toggle Sidebar</span>
          </button>
        </div>
      </nav>

      </div>

<div class="container">

<div class="row">
  <div class="col-md-8">
    <div class="card bg-secondary shadow">


<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "card-body" }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <span class="text-info">Informations Utilisateur</span>
    <div class="pl-lg-4 mt-4 mb-4">
      <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email", class: "form-control-alternative" } %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
        <div class="row">
        <div class="col-md-6">
          <%= f.input :first_name,
                      label: "Prénom",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "Prénom", class: "form-control-alternative" }%>
        </div>
        <div class="col-md-6">
          <%= f.input :last_name,
                  label: "Nom",
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Nom", class: "form-control-alternative" }%>
        </div>
      </div>
    </div>
    <hr>
    <span class="text-info">Informations contact</span>
    <div class="pl-lg-4 mt-4 mb-4">
      <%= f.input :address,
                  label: "Adresse de l'établissement",
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Addresse", class: "form-control-alternative" }%>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :phone,
                  label: "Téléphone",
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Phone", class: "form-control-alternative" }%>
        </div>
        <div class="col-md-6">
          <%= f.input :email,
                      label: "E-mail de contact",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email", class: "form-control-alternative" } %>
        </div>
      </div>
    </div>
    <hr>
    <span class="text-info">Changer de mot de passe</span>
    <div class="pl-lg-4 mt-4 mb-4">
      <div class="row">
        <div class="col-md-6">
          <%= f.input :password,
                  label: "Nouveau mot de passe",
                  hint: "Laisser vide si aucun changement",
                  required: false,
                  input_html: { autocomplete: "Nouveau mot de passe", class: "form-control-alternative" } %>
        </div>
        <div class="col-md-6">
          <%= f.input :password_confirmation,
                  label: "Confirmation du nouveau mot de passe",
                  required: false,
                  input_html: { autocomplete: "Confirmation mot de passe", class: "form-control-alternative" } %>
        </div>
      </div>
    </div>
    <hr>
    <span class="text-info">Validation des changements</span>
    <div class="pl-lg-4 mt-4 mb-4">
    <%= f.input :current_password,
                label: "Pour valider entrez votre mot de passe actuel",
                hint: "Pour valider vos changements entrez votre mot de passe actuel",
                required: true,
                input_html: { autocomplete: "Mot de passe actuel", class: "form-control-alternative" } %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update", class: "btn-primary" %>
  </div>
<% end %>

<!-- <h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %> -->

    </div>

  </div>
    <div class="col-md-4">

  </div>
</div>
</div>



    </div>

</div>

<script>
  $(document).ready(function () {

    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
    });

});
</script>


