<div class="wrapper">
  <!-- Sidebar -->
  <%= render "dashboards/sidebar" %>

  <!-- Page Content -->
  <div id="content" class="dashboard-content">

    <!-- Header -->
    <div class="header-dashboard">
      <div>
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-info btn-header">
              <i class="fas fa-align-left"></i>
            </button>
          </div>
        </nav>
      </div>
      <div class="container mt-5 pl-lg-5">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="title-header text-white">Ajouter des coachs</h1>
            <p class="text-white mt-0 mb-5">Bienvenue sur votre page d'ajout de coachs. Vous pouvez ajouter ou éditer des informations de tous vos coachs ici</p>
          </div>
        </div>
      </div>


            <div class="container pb-5">
        <div class="card bg-secondary">
          <div class="card-header bg-white border-0">
            <div class="card-header-title">
              <i class="fas fa-cloud-upload-alt" aria-hidden="true"></i> Ajouter un coach
            </div>
          </div>
          <div class="card-body">

          <%= simple_form_for [@coach], url: coachs_path, html: {multipart: true}  do |f| %>
            <span class="label-info">Informations sur le coach</span>

                  <%= f.input :name, placeholder: "Nom du coach", input_html: { autocomplete: "Nom du coach", class: "form-control-alternative" } %>

                  <%= f.input :specialisation, placeholder: "Spécialisation", input_html: { autocomplete: "Spécialisation", class: "form-control-alternative" } %>

            <span class="label-info">Ajouter une photo</span>
            <div class="pl-lg-4 mt-4 mb-4">
              <div class="file-drop-area">
                <span class="fake-btn">Select. fichier</span>
                <span class="file-msg">ou glisser et déposer vos photos</span>x
                <%= cl_image_upload_tag(:picture, type: :file, :html => { :multiple => true, class: "file-input" }, :use_filename => true, :folder => "feufeu") %>

              </div>
            </div>


              <%= f.submit "Ajouter le coach", class: "btn btn-success" %>
            <% end %>

          </div>
        </div>
      </div>
    </div>

    <!-- Courses table -->
    <div class="container mt-n7">
      <div class="row">
        <div class="col">
          <div class="card shadow mb-4">
            <div class="card-header border-0 d-flex flex-row justify-content-between">
              <div class="card-header-title">Tous mes coachs</div>
              <%= link_to "Page des coachs", coachs_fitandco_path, class: "btn btn-sm btn-success" %>
            </div>
            <div class="table-responsive">
              <table class="table aligns-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Specialisation</th>
                    <th scope="col" class="text-center">Photos</th>
                    <th scope="col" class="text-center">Editer</th>
                    <th scope="col" class="text-center">Supprimer</th>
                  </tr>
                </thead>
                <tbody id="coachs">
                  <%= render 'coachs_list' %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal New Coach -->
<%= render partial: 'form', locals: { coach: @coach } %>

<script>
  $(document).ready(function () {

    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
    });

});
</script>
