<div class="footer pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="area-fnt mb-3">
          <h4>Fit and Co</h4>
          <span>
            Eu augue ut lectus arcu bibendum at.
          </span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="area">
          <div class="area-title underline mb-3 pb-2">
            Menu
          </div>
          <ul>
            <li><%= link_to "Accueil", root_path %></li>
            <li><%= link_to "Planning", planning_des_cours_path %></li>
            <li><%= link_to "Nos cours", les_cours_path %></li>
            <li><%= link_to "Nos coachs", les_coachs_path %></li>
            <li><%= link_to "Abonnements", nos_abonnements_path %></li>
            <li><%= link_to "Contact", contact_path %></li>

          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="area">
          <div class="area-title underline mb-3 pb-2">
            Info légales
          </div>
          <ul>
            <li><%= link_to "Conditions générales d'utilisation", conditions_generales_utilisation_path %></li>
            <li><%= link_to "Mentions légales", mentions_legales_path %></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="area">
          <div class="area-title underline mb-3 pb-2">
            Contact
          </div>
          <ul>
            <li><i class="far fa-envelope"></i> <%= User.first.contact.phone %></li>
            <li><i class="fas fa-mobile-alt"></i> <%= User.first.contact.email %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <span class="copyright float-right"> © 2019 Fit and Co - Tout droit réservé </span>
  </div>
</div>


