<nav class="navbar navbar-expand-lg navbar-f navbar-sm" style="color: white; z-index: 1;">
  <%= image_tag ("fitandcologo.png") %>
  <%= link_to "Fit & Co", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fas fa-stream"></i></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Accueil", root_path, class: "nav-link #{active_link(root_path)}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Planning", planning_cours_fitandco_path, class: "nav-link #{active_link(planning_cours_fitandco_path)}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Nos cours", cours_fitandco_path, class: "nav-link #{active_link(cours_fitandco_path)}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Nos coachs", coachs_fitandco_path, class: "nav-link #{active_link(coachs_fitandco_path)}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Nos abonnements", abonnements_fitandco_path, class: "nav-link #{active_link(abonnements_fitandco_path)}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", contact_path, class: "nav-link #{active_link(contact_path)}" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-mobile-alt"></i> <%= User.first.contact.phone %></a>
      </li>
    </ul>
  </div>
</nav>

