<% content_for :nav, render('shared/navbar_home') %>

<div class="banner">
  <div>
      <%= render "home_carousel" %>
  </div>
  <div class="tagline-wrapper">
    <span class="tagline-company">Fit & Co</span>
    <h2>Votre salle de sport</h2>
    <span class="tagline-city">Talmont Saint-Hilaire</span>
    <div class="mt-5 pt-3 display-sm">
      <%= link_to "Planning des cours", planning_des_cours_path, class: "btn btn-rounded btn-lg btn-success" %>
    </div>
  </div>
</div>

<div class="mt-3 mb-5 pb-3">
  <div class="container">
    <div class="card-header-home">
      <h2 class="pb-3">Salle de sport Fit & Co</h2>
      <p>Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle.</p>
    </div>
    <div class="mt-5 p-3">
      <div class="row">
        <div class="col-md-4">
          <div class="d-flex flex-column align-items-center card-home pb-5">
            <div class="icon-rounded-blur"><i class="fas fa-dumbbell"></i></div>
            <h4 class="mt-4 mb-3">Nos cours</h4>
            <p class="text-center mb-4">Eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque. Eu feugiat pretium nibh ipsum consequat nisl vel pretium. </p>
            <%= link_to "Découvrir", les_cours_path, class: "btn btn-medium btn-rounded btn-success" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="d-flex flex-column align-items-center card-home pb-5">
            <div class="icon-rounded-blur"><i class="fas fa-running second-ir"></i></div>
            <h4 class="mt-4 mb-3">Nos coachs</h4>
            <p class="text-center mb-4">Eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque. Eu feugiat pretium nibh ipsum consequat nisl vel pretium. </p>
            <%= link_to "Découvrir", les_coachs_path, class: "btn btn-medium btn-rounded btn-success" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="d-flex flex-column align-items-center card-home pb-5">
            <div class="icon-rounded-blur"><i class="fas fa-tags"></i></div>
            <h4 class="mt-4 mb-3">Nos abonnements</h4>
            <p class="text-center mb-4">Eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque. Eu feugiat pretium nibh ipsum consequat nisl vel pretium. </p>
            <%= link_to "Découvrir", nos_abonnements_path, class: "btn btn-medium btn-rounded btn-success" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-dark-blue mb-5">
  <div class="d-flex flex-row">
     <div class="bg-left-panel mt-3">
      <span>Fit & Co</span>
      <h2>Réservez votre scéance d’éssai</h2>
      <p class="mt-3">Découvrez notre salle de sport à Talmont Saint Hilaire. Nous vous offrons votre première scéance d’essai gratuite pour vous et une personne de votre choix</p>
      <div class="text-center mt-5">
        <button type="button" class="btn btn-medium btn-rounded btn-success" data-toggle="modal" data-target="#exampleModalCenter"> Réservez </button>
      </div>
    </div>
    <div class="bg-right-panel display-none"></div>
  </div>
</div>

<div class="pb-5 pt-3 mt-3">
  <div class="container">
    <div class="card-header-home">
      <div class="row">
        <div class="col-md-8 mb-5">
          <h2>Suivez-nous facebook </h2>
          <div class="pr-5 pt-5">
            <span style="font-size: 17px; line-height: 33px;">Pour suivrez toutes nos dernières actualités, retrouvez nous sur notre page facebook. Vous aurez accès à toutes nos infos, mise à jours et vidéos !</span>
          </div>
          <div class="mt-5 pt-2">
            <a href="https://www.facebook.com/Talmont.St.Hilaire/" class="btn btn-medium btn-rounded btn-success"><i class="far fa-thumbs-up"></i> Nous suivre</a>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <div id="fb-root"></div>
            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v4.0&appId=204218456795435&autoLogAppEvents=1"></script>
            <div class="fb-page" data-href="https://www.facebook.com/Talmont.St.Hilaire/" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Talmont.St.Hilaire/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Talmont.St.Hilaire/">Fit &amp; Co</a></blockquote></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Modal New Message Form-->
<%= render partial: 'messages/new' %>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>​
<script>​
  window.fbAsyncInit = function() {​
    FB.init({​
      xfbml            : true,​
      version          : 'v4.0'​
    });​
  };​
​
  (function(d, s, id) {​
  var js, fjs = d.getElementsByTagName(s)[0];​
  if (d.getElementById(id)) return;​
  js = d.createElement(s); js.id = id;​
  js.src = 'https://connect.facebook.net/fr_FR/sdk/xfbml.customerchat.js';​
  fjs.parentNode.insertBefore(js, fjs);​
}(document, 'script', 'facebook-jssdk'));</script>​
​
<!-- Your customer chat code -->​
<div class="fb-customerchat"​
  attribution=setup_tool​
  page_id="1048158241968870"​
theme_color="#8CC441"​
logged_in_greeting="Bonjour, vous désirez poser une question à un de nos coachs ?"​
logged_out_greeting="Bonjour, vous désirez poser une question à un de nos coachs ?">​
</div>
