<h1>Nouvelle demande de scéance d'essai</h1>

Information sur le client :
<ul>
  <li>Nom et prénom : <%= @last_name %> <%= @first_name %></li>
  <li>Téléphone : <%= @phone %></li>
  <li>email : <%= @email %></li>
</ul>

<p>
  Message laissé par le client :
  <%= @question %>
</p>

