<nav id="sidebar">
  <div class="sidebar-header">
      <h3>Fit & Co</h3>
  </div>

  <ul class="list-unstyled">
      <li class="<%= active_link(dashboard_path) %>">
        <%= link_to dashboard_path do %>
          <i class="fas fa-tachometer-alt" style="color: #5e72e4"></i> Dashboard
        <% end %>
      </li>
      <li class="<%= active_link(plannings_path) %>">
        <%= link_to plannings_path do %>
          <i class="far fa-calendar-alt" style="color: #fb6340"></i> Planning
        <% end %>
      </li>
      <li class="<%= active_link(courses_path) %>">
        <%= link_to courses_path do %>
          <i class="fas fa-indent" style="color: #ffd600"></i> Mes cours
        <% end %>
      </li>
      <li class="<%= active_link(coachs_path) %>">
        <%= link_to coachs_path do %>
          <i class="fas fa-user-plus" style="color: #f5365c"></i> Mes coachs
        <% end %>
      </li>
      <li class="<%= active_link(prices_path) %>">
        <%= link_to prices_path do %>
          <i class="fas fa-tags" style="color: #8965e0"></i> Mes abonnements
        <% end %>
      </li>
      <li class="<%= active_link(edit_user_registration_path) %>">
        <%= link_to edit_user_registration_path do %>
          <i class="fas fa-map-marker-alt" style="color: #10c5e5"></i> Contact
        <% end %>
      </li>
  </ul>

  <hr>

  <div class="documentation">
    <span class="text-muted">DOCUMENTATION</span>
    <ul>
      <li><i class="fas fa-rocket"></i> Gérez votre site</li>
      <li><i class="fas fa-life-ring"></i> Besoin d'aide ?</li>
    </ul>
  </div>
</nav>

