<% @courses.each do |course| %>
  <tr>
    <th scope="row"><div class="align-items-center th-header"><%= course.title %></div></th>
    <td><div class="th-text"><%= course.subtitle %></div></td>
    <td><div class="th-text"><%= truncate(course.description, length: 35) %></div></td>
    <td>
      <div class="th-text">
        <%= link_to "Ajouter des photos", photo_upload_course_path(course), class: "btn btn-sm btn-primary" %>
      </div>
    </td>
    <td class="text-center">
      <div><%= link_to course_path(course), remote: true, method: :delete, data: {confirm: "Êtes-vous sûr ?"} do %>
        <i class="far fa-trash-alt" aria-hidden="true"></i>
    <% end %></div>
    </td>
  </tr>

<% end %>

